{% extends "base.html" %}

{% block content %}
<style>
    .container {
        margin-top: 10%;
        position: relative;
        text-align: center;
        color: darkgray;
    }

    .container img {
        height: auto;
        border-collapse: collapse;
        border-radius: 10px;

    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>hi!</h1>
            <p>welcome to this oddly primitve website</p>

            <img src="{{url_for('static',filename="images/giphy.gif")}}" >

        </div>
    </div>
</div>

    

{% endblock %}


